@media screen and (max-width: 480px){
    body{
        font-family: "Raleway", Arial, sans-serif;
    }
    /***********************************************************************************************************************
                                            Début partie Header
    ***********************************************************************************************************************/
    nav  ul  {
        padding: 0;
        display: flex;
        justify-content: space-around;
    }
    nav ul li{
        width: 100%;
        text-align: center;
        display: inline-block;
        padding: 3%;
        border-bottom: 2px solid #F2F2F2;
    }
    nav ul li a{
        text-decoration: none;
        color: black;
    }

    #Banner h2{
        margin-bottom: 0;
    }
    #Banner  p{
        margin-top:2%;
     }
    #Recherche{
        width: 50%;
        display: flex;
        background: coral;
    }
    #Recherche i{
        background: #F2F2F2;
        border: none;
        border-bottom-left-radius: 15%;
        border-top-left-radius: 15%;
        padding: 1%;
    }
    #Recherche input{
        background: none;
        border-top: 1px solid #F2F2F2;
        border-bottom: 1px solid #F2F2F2;
    }
    #Recherche button{
        background: #0065FC;
        border: none;
        border-bottom-right-radius: 15%;
        border-top-right-radius: 15%;
    }
    #Recherche .SearchText{
        display: none;
    }
    #Recherche .fa-search{
        background: none;
        color: white;
    }
    #Filtres{
        margin: 0 5% 0 5%;
    }
    #Info{
        margin: 0 5% 0 5%;
        display: flex;
    }
    #Info i{
        display: flex;
        justify-content: center;
        margin-right: 2%;
    }
    #Info p{
        margin: 0;
    }
    /***********************************************************************************************************************
                                                Début partie Section 1
    ***********************************************************************************************************************/
    .Hebergements{
        display: flex;
        flex-direction: column-reverse;
    }
    .populaire{
        background: #F2F2F2;
    }
    #HeaderAside{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2%;
    }
    .bodyaside{
        background: white;
    }
    /***********************************************************************************************************************
                                                Début partie Footer
    ***********************************************************************************************************************/
    footer{
        display: flex;
        flex-direction: column;
    }
    .footer_article{
        width: auto;
    }

}