/* Partie Général  */
body{
    margin: 0 5% 0 5%;
    font-family: "Raleway", Arial, sans-serif;
}
/*Partie header*/

#top-header{
    display: flex;
    margin-bottom: 2%;
}
#logo{
    width: 30%;
}
nav {
    width: 70%;
}
nav ul{
    display: flex;
    justify-content: flex-end;

}
nav ul li{
    display: inline-block;
    margin-right: 5%;
}
nav ul li a {
    text-decoration: none;
    color: black;
}

/* Reponsive  */
@media screen and (max-width: 480px) {
    h3{
        color: yellow;
    }
}