/***********************************************************************************************************************
                                            Début partie Général
***********************************************************************************************************************/

#container{
    max-width: 1500px;
    margin: auto;
    font-family: "Raleway", Arial, sans-serif;
}
section, footer{
    margin-top: 3%;
}
#top-header h1{
    display: none;
}
/***********************************************************************************************************************
                                            Début partie Header
***********************************************************************************************************************/

#top-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1%;
}
    #logo{
        display: flex;
        margin: 0;
        padding: 0;
    }
    #Navbar{
        display: flex;
        justify-content: space-around;
        background: red;
    }
        #Navbar ul li{
            display: inline-block;
        }
        #Navbar ul li a{
            text-decoration: none;
            color: black;
        }
            #Navbar #Nav .Active{
                border-top: 1px solid #0065FC;
                color: #0065FC;
            }
        #Navbar #Inscription{
            font-weight: bold;
        }
            #Navbar #Inscription li a{
                color: #0065FC;
            }

.Slogan{
    margin: 0;
}

#Recherche{
    margin-top: 1%;
    display: flex;
    height: 50px;
}
    #Recherche .fa-map-marker-alt{
        background: #F2F2F2;
        height: 100%;
        width: 50px;
        display: flex;
        border-bottom-left-radius: 15px;
        border-top-left-radius: 15px;
        justify-content: center;
        align-items: center;
    }
    #Recherche input{
        border: none;
        height: 100%;
        width: 250px;
        border-top: 1px solid #F2F2F2;
        border-bottom: 1px solid #F2F2F2;
    }
    #Recherche input::placeholder{
        color: black;
        font-weight: bold;
    }
    #Recherche #Validation{
        background: #0065FC;
        width: 150px;
        height: 100%;
        color: white;
        font-weight: bold;
        border: none;
        border-bottom-right-radius: 15px;
        border-top-right-radius: 15px;
    }
    #Recherche .fa-search{
        display: none;
    }

#Filtres{
    display: flex;
    flex-wrap: wrap;
    margin-top: 1%;
}
    #HeaderFiltre{
        font-weight: bold;
        margin-right: 3%;
    }
    .cartouche{
        display: flex;
        border: 2px solid #F2F2F2;
        border-radius: 30px;
        margin-right: 35px;
    }
            .BtnFiltre {
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                margin: -1px -1px -1px -1px;
                width: 52px;
                height: 52px;
                background: #DEEBFF;
                color: #0065FC;
            }
            .cartouche p{
                font-weight: bold;
                margin: 15px;
            }

#Banner{
    display: flex;
    align-items: center;
    margin-top: 15px;
}
    #Banner i{
        display: flex;
        justify-content: center;
        align-items: center;
        background: none;
        color: #0065FC;
        border:2px solid #F2F2F2;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-right: 1%;
    }

/***********************************************************************************************************************
                                         Début partie Section
***********************************************************************************************************************/
#Hebergement{
    display: flex;
    justify-content: space-between;
}
.Card-Article{
    background: #F2F2F2;
    border-radius: 15px;
    margin-right: 20px;
    width: 70%;
}
    .Card-Header{
        margin: 2% 2% 0 2%;
    }
    .Card-container{
        display: flex;
        justify-content: space-between    ;
        flex-wrap: wrap;
        width: 100%;
    }
        .Card-Body{
            background: white;
            padding: 5px;
            height: 180px;
            width: 250px;
            border-radius: 15px;
            box-shadow: 3px 2px 5px grey;
        }
            .Card-Body img{
                height: 100%;
                width: 100%;
                border-radius: 15px;
            }
            .Card-Body h4{
                margin: 0;
            }
            .Card-Body p{
                margin-top: 1%;
            }
            .Select{
                color: #0065FC;
            }
            .NoSelect{
                color: #F2F2F2;
            }
        .Card-footer{
            margin: 2% 2% 0 2%;
        }

.Card-Aside{
    width: 30%;
    background: #F2F2F2;
    border-radius: 15px;
}
    .HeaderAside{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .Aside-body{
        background: white;
        border-radius: 15px;
        box-shadow: 3px 2px 5px grey;
        display: flex;
    }
        .Aside-body img{
            width: 100%;
        }
        .Aside-body h4{
            margin: 0;
        }
        .Aside-body p{
            margin-top: 1%;
        }

    #ActiContainer{
        display: flex;
        flex-wrap: wrap;
    }
        .ArtiCard{
            border: 1px solid black;
            border-radius: 5%;
            box-shadow: 3px 2px 5px grey;
        }
/***********************************************************************************************************************
                                            Début partie Footer
***********************************************************************************************************************/

/* Partie Footer */
footer{
    background: #F2F2F2;
    display: flex;
    flex-wrap: wrap;
    padding: 1%;
}
.Footer-Body{
    margin-right: 15%;
}
.HeaderFooter{
    font-weight: bold;
}